@model RestaurantApp.Data.Models.Domain.Branch

@{
    ViewData["Title"] = "Удаление";
}

<h1>Удаление филиала</h1>

<h3>Вы уверенны что хотите удалить этот филиал?</h3>
<div>
    <h4>Филиал</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            Сотрудник
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(modelItem => string.Format("{0} {1}", modelItem.Employer.LastName, modelItem.Employer.FirstName))
        </dd>
        <dt class = "col-sm-2">
            Склад
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WarehouseItem.Address)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Назад к списку</a>
    </form>
</div>
