@model RestaurantApp.Data.Models.Domain.Shift

@{
    ViewData["Title"] = "Удаление";
}

<h1>Удаление смены</h1>

<h3>Вы уверенны что хотите удалить эту смену?</h3>
<div>
    <h4>Смена</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Profit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Profit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShiftDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShiftDate)
        </dd>
        <dt class = "col-sm-2">
            Сотрудник
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => $"{model.Employer.LastName} {model.Employer.FirstName}")
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Назад к списку</a>
    </form>
</div>
